h1, p {
    font-family: Lato;
  }
  
  .container .row > [class^="col"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #E5EDF5;
    border: 1px solid #f0fc14de !important;
    color: black;
  }

  .button-submit{
    font-size: 20px !important;
    padding: 8px 5px !important;
    height: 45px !important;
    outline: none !important;
    border: none !important;
  }