.Nonprofit{
    background-image: url('../../Assets/Logo/Theme.jpg');
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
}
.Nonprofit__background{
  background-color: #fafafa !important;
  opacity: 0.96;
  padding-top: 40px;
  padding-bottom: 20px;

}


.row{
    padding: 40px 80px;
    }

.Nonprofit__h3{
    padding-top: 40px;
    margin: 10px 60px;
    font-weight: bold;
    text-align: left !important;
}
.Nonprofit__h4{
    margin: 10px 60px;
    font-weight: bold;
    color: rgb(168, 148, 32) !important;
    text-align: left !important;
}
.Nonprofit__p{
    font-size:20px;
    margin: 10px 60px;
    text-align: left !important;
}


.Nonprofit__ul{
    margin: 10px 75px;
    font-weight: bold;
    text-align: left;
}



@media (max-width:500px){
    img{
        margin: 25px auto;
        }
        .row{
            padding: 0px;
            }
            .Nonprofit__h3{
                padding: 10px;
                margin: 0px;
                width: 100%;
                font-weight: bold;
               text-align: center!important;
            }
            .Nonprofit__h4{
                padding: 10px;
                margin: 0px;
                width: 100%;
                font-weight: bold;
                color: rgb(168, 148, 32) !important;
               text-align: center;
            }
            .Nonprofit__p{
                padding: 10px;
                font-size:20px;
                margin: 0px;
                width: 100%;
               text-align: center;
            }
            .Nonprofit__ul{
                padding: 10px;
                margin: 0px;
                font-weight: bold;
                text-align: left;
            }
        
}