.contact{
    background-color: white;
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;

}
.contact__background{
  background-color: #fafafa !important;
padding-top: 60px;

}
.contact__form {
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fafafa;
  }

  .form-control {
    display: block;
    width: 80%;
    align-items: center;
}
 
  .contact__form > h1 {
  text-align: center;
  font-weight: bold;
  padding: 50px;
  }

  .form > input,
  textarea {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid black;
    font-size: 16px;
    color: black;
    outline: none;
  }
  .contact__P{
    padding-bottom: 40px;
   }
  
  .contact__form > input:focus,
  textarea:focus {
    border: 1px solid black;
    outline: none;
  }
  
  .contact__form > textarea {
    height: 150px;
    max-width: 80%;
    min-height: 100px;
  }
  
  .contact__form > label {
    padding: 10px 60px;
    max-width: 400px; 
    color: black;
    font-weight: bold;

  }
  
  .contact__form > button {
    display: block;
    width: 80%;
    padding: 1.125rem 2rem;
    background-color: GOLD;
    color: black;
    border-radius: .5rem;
    font-weight: 600;
    transition: .2s;
  }
  
  .contact__form > button:hover {
    background-color: black;
    color: gold;
    box-shadow: 0 18px 40px -12px rgba(242,162,12,.35);
  }
  .Contact__name{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
  }
    
  @media (max-width:500px){
    .contact{
      z-index: 100;
      background-color: #fafafa;
      padding:10px;
      align-items: center;
    }

    .contact__form {
      margin-top: 60px;
      justify-content: center;
      width: 100%;
      margin-bottom: 80px;
      padding-bottom: 80px;

    }
    .contact__form > h1 {
      margin-bottom: 10px;
    }
    .form > input,
    textarea {
      
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 5px;
      border: 1px solid black;
      background: #fff;
      font-size: 18px;
      color: black;
      outline: none;
    }

    .form-control {
      display: block;
      width: 100%;
      align-items: center;
  }

    .contact__form > button {
      padding: 10px;
      background-color: rgb(216, 188, 32);
      font-size: 15px;
      border-radius: 3px;
      color: black;
      margin-top: 5px;
      border: none;
      outline: none;
    }
    .Contact__name{
      margin:0px;
      font-size:20px;
    }
    .contact__P{
     padding-bottom: 40px;
    }
    .Contact__name{
      padding-top: 20px;
    }
    
    .contact__form > textarea {
      height: 150px;
      max-width: 100%;
      min-height: 100px;
  }

  .contact__form > button {
    display: block;
    width: 100%;
    padding: 1.125rem 2rem;
  }
  }