.home{
   opacity: 0.94;
}
.home__mainPicture > img{
   margin-top: 25px;
   width: 100%;
   height: auto;
   top: 65px;
   margin-top: -10px;
   max-height: 70vh;
   object-fit: cover;

}


@media (max-width:500px){
   body {
     z-index: -1 !important;
     padding:0px;
   }
   .home__mainPicture > img{
     width: 100%;
     margin-top: -10px;
     padding-bottom: -60px;
     height: auto;
 }
 } 