.footer{
    padding: 0.5rem;
    background-color: white;
    color: #fb0808;
    text-align: center;
    width: 100%;
    z-index: 1;
  }


  .copyright{
    /* justify-content: flex-end; */
    align-items: left;

  }
  .copyright:hover{
    color: gold;
  }

.footer__icons {
  color:white;
  padding: 0.5rem;

}
.icon-bar > a:hover{
  color: gold;
}
@media (max-width:500px){

  .footer{
    padding: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  .copyright{
    justify-content: space-evenly;
    font-size: xx-small;
    display: flex;
    flex-direction:row;
    padding-right: 2px;
  }

  }
  @media (max-width: 600px) and (min-width: 540px){
    .POWERED{
      visibility: hidden;
    }
    .copyright{
      justify-content: space-evenly;
      font-size: xx-small;
      display: flex;
      flex-direction:row;
      padding-right: 2px;
    }
  }
