.footer{
    padding: 0.5rem;
    /* background-color: white; */
    background-color: black;
    /* color: #fb0808;
    color: black!important; */
    color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
    /* margin-top: 40px; */
  }
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:36px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display:inline-block;
    text-align:center;
    overflow: hidden;
    border-radius:50%;
    box-shadow:0 0 0 1px rgb(255, 255, 255);
    margin: 40px 20px;
    color:#fafafa;
    opacity:0.75;
    transition: .5s;
    transform: scale(.9);
  }


  .footer-dark .item.social > a:hover {
  box-shadow: 0 0 15px #619c1c;
  color: #619c1c;
  }

  .footer-dark .item.social {
    color: 0 0 15px #619c1c;
    }

  ul li {
    list-style: none;
    margin: 0 5px;
  }

  .copyright{
    /* justify-content: flex-end; */
    align-items: left;

  }
  .copyright:hover{
    color: gold;
  }

.footer__icons {
  color:white;
  padding: 0.5rem;

}
.icon-bar > a:hover{
  color: gold;
}
@media (max-width:500px){

  .footer{
    padding: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  .copyright{
    justify-content: space-evenly;
    font-size: xx-small;
    display: flex;
    flex-direction:row;
    padding-right: 2px;
  }

  }
  @media (max-width: 600px) and (min-width: 540px){
    .POWERED{
      visibility: hidden;
    }
    .copyright{
      justify-content: space-evenly;
      font-size: xx-small;
      display: flex;
      flex-direction:row;
      padding-right: 2px;
    }
  }
