.App {
  text-align: center;
  }

/* .App__background {
  background-image: url('./Assets//Logo/Theme.jpg');
  background-Position: center;
  background-Size: cover;
  background-Repeat: no-repeat;
  z-index: -100 !important;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-header {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .App-link {
    color: gold;
  }
  
}


