.Solutions{
    background-image: url('../../Assets/Logo/Theme.jpg');
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
}

.Solutions__background{
    background-color: rgba(255, 255, 255, 0.911);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
}

.Solutions__h1{
    padding:25px;
}

.Solutions__p1{
    padding:25px;
}

.Solutions__icons{
    height: 80px;

}

#Solutions__R1__col1{
    background-color: darkgray;
    padding: 60px;

}


#Solutions__R1__col1:hover{
    background-color: rgba(228, 213, 9, 0.37);
}

#Solutions__R1__col2{
    background-color: lightgray;
    padding: 60px;

}
#Solutions__R1__col2:hover{
    background-color: rgba(228, 213, 9, 0.37);
}
#Solutions__R1__col3{
    background-color: darkgray;
    padding: 60px;

}
#Solutions__R1__col3:hover{
    background-color: rgba(228, 213, 9, 0.37);
}


#Solutions__R2__col1{
    background-color: lightgray;
    padding: 60px;

}
#Solutions__R2__col1:hover{
    background-color: rgba(228, 213, 9, 0.37);
}

#Solutions__R2__col2{
    background-color: darkgray;
    padding: 60px;

}
#Solutions__R2__col2:hover{
    background-color: rgba(228, 213, 9, 0.37);
}
#Solutions__R2__col3{
    background-color: lightgray;
    padding: 60px;

}
#Solutions__R2__col3:hover{
    background-color: rgba(228, 213, 9, 0.37);
}



