.Solutions{
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
}

.Solutions__background{
    width: 100%;
    padding-bottom: 100px;
}
.Solutions-container {
    margin: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding-bottom: 99px;
    margin-bottom: 41px;
    
  }

  .Solutions-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .Typewriter {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

.Solutions__h1{
    padding:25px;
}

.Solutions__p1{
    padding:25px;
}

.Solutions__icons{
    height: 80px;

}

#Solutions__R1__col1{
    background-color: darkgray;
    padding: 60px;

}


#Solutions__R1__col1:hover{
    background-color: rgba(228, 213, 9, 0.37);
}

#Solutions__R1__col2{
    background-color: lightgray;
    padding: 60px;

}
#Solutions__R1__col2:hover{
    background-color: rgba(228, 213, 9, 0.37);
}
#Solutions__R1__col3{
    background-color: darkgray;
    padding: 60px;

}
#Solutions__R1__col3:hover{
    background-color: rgba(228, 213, 9, 0.37);
}


#Solutions__R2__col1{
    background-color: lightgray;
    padding: 60px;

}
#Solutions__R2__col1:hover{
    background-color: rgba(228, 213, 9, 0.37);
}

#Solutions__R2__col2{
    background-color: darkgray;
    padding: 60px;

}
#Solutions__R2__col2:hover{
    background-color: rgba(228, 213, 9, 0.37);
}
#Solutions__R2__col3{
    background-color: lightgray;
    padding: 60px;

}
#Solutions__R2__col3:hover{
    background-color: rgba(228, 213, 9, 0.37);
}



@media screen and (max-width: 960px) {
    .Solutions-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Solutions-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .Solutions-container > p {
      font-size: 30px;
    }
  }
  