.Hosting{
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
}

.Hosting__background{
    width: 100%;
    padding-bottom: 100px;
}
.Hosting-container {
    margin: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding-bottom: 99px;
    margin-bottom: 41px;
  }

  .Hosting__row{
      padding-top:0!important;
      padding-bottom:0!important;
  }

  .Hosting-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .Typewriter {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

.Hosting__h1{
    padding:25px;
}

.Hosting__p1{
    padding:25px;
}

.Hosting__icons{
    height: 80px;

}

#Hosting__R1__col1{
    background-color: darkgray;
    padding: 60px;

}


#Hosting__R1__col1:hover{
    background-color: rgba(228, 213, 9, 0.37);
}

#Hosting__R1__col2{
    background-color: lightgray;
    padding: 60px;

}
#Hosting__R1__col2:hover{
    background-color: rgba(228, 213, 9, 0.37);
}
#Hosting__R1__col3{
    background-color: darkgray;
    padding: 60px;

}
#Hosting__R1__col3:hover{
    background-color: rgba(228, 213, 9, 0.37);
}


#Hosting__R2__col1{
    background-color: lightgray;
    padding: 60px;

}
#Hosting__R2__col1:hover{
    background-color: rgba(228, 213, 9, 0.37);
}

#Hosting__R2__col2{
    background-color: darkgray;
    padding: 60px;

}
#Hosting__R2__col2:hover{
    background-color: rgba(228, 213, 9, 0.37);
}
#Hosting__R2__col3{
    background-color: lightgray;
    padding: 60px;

}
#Hosting__R2__col3:hover{
    background-color: rgba(228, 213, 9, 0.37);
}



@media screen and (max-width: 960px) {
    .Hosting-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Hosting-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .Hosting-container > p {
      font-size: 30px;
    }
    
  }
  